.cardproject {
    position: relative;
    width: 100%;
    max-width: 250px;
    height: 280px;
    color: #2e2d31;
    background: #131313;
    overflow: hidden;
    border-radius: 20px;
    margin: 2rem;
  }

  
  .projectimage{
    height: 150px;
    width: 220px;

  }

  .temporary_text {
    font-weight: bold;
    font-size: 24px;
    padding: 6px 12px;
    color: #f8f8f8;
  }
  
  .card_titleproject {
    font-weight: bold;
  }
  
  .card_contentproject {
    position: absolute;
    left: 0;
    bottom: 0;
      /* edit the width to fit card */
    width: 100%;
    padding: 20px;
    background: #a2a8cd;
    border-top-left-radius: 20px;
      /* edit here to change the height of the content box */
    transform: translateY(150px);
    transition: transform .25s;
  }
  
  .card_contentproject::before {
    content: '';
    position: absolute;
    top: -47px;
    right: -45px;
    width: 100px;
    height: 100px;
    transform: rotate(-175deg);
    border-radius: 50%;
    box-shadow: inset 48px 48px #a2a8cd;
  }
  
  .card_titleproject {
   
    color: #131313;
    font-family: 'Titillium Web', serif;
    line-height: 15px;
    font-size: 22px;
  }
  
  .card_subtitleproject {
    display: block;
    font-size: 13px;
    margin-bottom: 10px;
    font-family: 'Roboto Serif', serif;
    font-weight: 600;
  }
  
  .card_descriptionproject {
    font-size: 14px;
    opacity: 0;
    transition: opacity .5s;
   
  }
  
  .cardproject:hover .card_contentproject {
    transform: translateY(0);
  }
  
  .cardproject:hover .card_descriptionproject {
    opacity: 1;
    transition-delay: .25s;
  }
  
  .projectscard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2rem;
  
  }
  
  
  
  
  
  
  
  
  