.projectscard {
  display: flex;
  flex-direction: row;
  margin: 10px;
  justify-content: center;
}

.card {
  --font-color: #323232;
  --bg-color: #e0e0e0;
  width: 300px;
  height: 400px;
  border-radius: 20px;
  background: var(--bg-color);
  box-shadow: -9px 9px 18px #5a5a5a, 9px -9px 18px #ffffff;
  display: flex;
  flex-direction: column;
  transition: 0.4s;
  position: relative;
  margin: 20px;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 10px 2px #5a5a5a;
}
.card__img {
  position: relative;
  overflow: hidden;
  border-radius: 10%;
}

.card__img img {
  width: 100%;
  height: auto;
  object-fit: cover;

}
/* 
.card__img::before {
  content: "";
  display: block;
  padding-bottom: 100%; /* Adjust the aspect ratio if needed */
*/ .card__descr-wrapper {
  padding: 15px;
  display: grid;
}

.card__title {
  color: var(--font-color);
  text-align: center;
  margin-bottom: 15px;
  font-weight: 900;
  font-size: 16px;
}

.card__descr {
  color: var(--font-color);
  margin-left: 10px;
  margin-right: 10px;
}

.svg {
  width: 25px;
  height: 25px;
  transform: translateY(25%);
  fill: var(--font-color);
}

.card__links {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
}

.card__links .link {
  color: var(--font-color);
  font-weight: 600;
  font-size: 15px;
  text-decoration: none;
}

.card__links .link:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .projectscard {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
    margin: 10px 0;
  }
}