/* Default styles for project cards */
.project-header {
  font-family: 'Saira', sans-serif;
  letter-spacing: 1.5px;
  color: var(--color-light);
  font-weight: 700;
  font-size: 2.4em;
  text-align: center;
  text-transform: uppercase;
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.project-card {
  background-color: rgba(255, 255, 255, 0.03);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto; /* Adjust the height to auto for responsive design */
  max-width: 400px; /* Set a maximum width for desktop */
  width: 100%; /* Set the width to 100% for mobile */
  border-radius: 10px;
  color: rgb(1, 1, 1);
  cursor: pointer;
  transition: 400ms;
  margin: 20px;
  border: 2px solid #30d5c8;
}

.project-cards .project-card p.tip {
  margin-bottom: 5px;
  font-size: 1.5em;
  font-weight: 700;
  font-family: 'Saira', sans-serif;
  color: #30d5c8;
}

.project-cards .project-card p.second-text {
  font-size: 0.9em;
  margin-right: 10px;
  margin-left: 10px;
  color: aliceblue;
  font-family: 'Chivo', sans-serif;
  letter-spacing: 1px;
}

.project-cards .project-card:hover {
  transform: scale(1.1, 1.1);
}

.project-cards:hover > .project-card:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9, 0.9);
}

.project-link {
  font-size: 15px;
  color: #30d5c8;
}

.project-link:hover {
  font-size: 20px;
  color: rgb(65, 65, 145);
}

/* Media query for smaller screens (mobile) */
@media (max-width: 600px) {
  .project-card {
    max-width: none; /* Remove the maximum width for mobile */
  }
}
