.ui.Education{
  margin-top: 90px;
}

.educationcard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}

.edu_card {
  width: 290px;
  height: 120px;
  margin: 0 10px; /* Adjust margin as needed */
  box-shadow: 0 1px 25px rgba(0, 0, 0, 0.2);
  padding: 12px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(90deg, #808080, #000000);
  border-radius: 20px;
  transition: all ease 0.2s;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.edu_card:hover {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
}

.educationtitle {
  font-family: 'Prompt', sans-serif;
  display: flex;
  flex-direction: column;
}

.card_load {
  width: 70px;
  height: 70px;
  position: relative;
  float: left;
  background: linear-gradient(
    120deg,
    #e5e5e5 30%,
    #f0f0f0 38%,
    #f0f0f0 40%,
    #e5e5e5 48%
  );
  border-radius: 50%;
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: load89234 2s infinite;
}

.card_load_extreme_title {
  font-family: 'Prompt', sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-top: -10px;
  color: white;
  text-decoration: underline;
}

.card_load_extreme_descripion {
  font-family: 'Prompt', sans-serif;
  font-weight: 500;
  margin-top: 5px;
  font-size: 20px;
  color: white;
}

.card_load_extreme_descripion2 {
  font-family: 'Prompt', sans-serif;
  font-weight: 500;
  margin-top: 5px;
  font-size: 15px;
  color:white
}

@media (max-width: 768px) {
  .educationcard {
    flex-wrap: wrap;
  }

  .edu_card {
    width: 100%;
    margin: 10px;
  }
}

@media (max-width: 480px) {
  .card_load_extreme_title {
    font-size: 18px;
  }

  .card_load_extreme_descripion {
    font-size: 16px;
  }

  .card_load_extreme_descripion2 {
    font-size: 14px;
  }
}
