.dma{
    height: 80px;
}

.srcasw{
    height: 80px;
}

.header6{
    font-family: 'Titillium We', serif;
    font-size: 25px;
    white-space: nowrap;
}

.course{
    font-family: 'Roboto Serif', serif;
    font-size: 20px;
    white-space: nowrap;
    margin-top: -0.5rem;
}

.year{
    font-family: 'Roboto Serif', serif;
    font-size: 20px;
    font-weight: 600;
    margin-top: -0.5rem;
}