.skills-header {
  font-family: "Saira", sans-serif;
  letter-spacing: 1.5px;
  color: var(--color-light);
  font-weight: 700;
  font-size: 2.4em;
  text-align: center;
  text-transform: uppercase;
}

.skills-box {
  text-align: center;
  padding: 20px;
}

.skills-container {
  background-color: rgba(255, 255, 255, 0.03);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 900px;
  border-radius: 50px;
 border: 2px solid #30d5c8;
 box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}

.skill-card {
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 10px; 
}

.icon {
  font-size: 40px; 
  margin: 30px;
}

.icon:hover {
  font-size: 60px;
  transition: font-size 0.2s; 
}

.skill-name {
  margin-top: 10px; 
  font-weight: bold;
  font-family: 'Chivo', sans-serif;
  letter-spacing: 1.5px;
  color: aliceblue;
}


@media (max-width: 768px) {
  .skills-header{
   font-size: 36px;
  }
 
  .skills-container {
   width: 100%;
   padding: 0px;
  }

  .skill-name{
    margin-top: 0px;
  }

  .icon{
    margin: 0px;
  }
 }
 
 @media (max-width: 480px) {
   .homepagecontainer {
     font-size: 12px; 
   }
 }