#about {
    display: flex;
    justify-content: right;
    font-family: 'Gentium Book Plus', serif;
}

.image1 {
  height: 400px;
  width: 1000px;
}

/* styles for screens larger than 768px */
@media only screen and (min-width: 768px) {
  .image1 {
    width: 100%;
    height: auto;
  }
}

/* styles for screens between 480px and 767px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .image1 {
    width: 100%;
    height: auto;
  }
}

/* styles for screens smaller than 480px */
@media only screen and (max-width: 479px) {
  .image1 {
    width: 100%;
    height: auto;
  }
}


.ui.me{
  margin-left: 70px;
} 

.header1 {
    font-size: 20px;
    font-family: 'Roboto Serif', serif;
    font-style: italic;
    
}

.name {
    font-size: 40px;
    font-family: 'Titillium Web', serif;
    margin-top: -0.5rem;
    font-weight: 50;
    margin-bottom: -0.5rem;
   
}

.aboutme {
  font-family: 'Roboto Serif', serif;
    font-style: italic;
    margin-top: 1.5rem;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    
}
.aboutme3 {
  width: 100%;
  max-width: 700px;
}

@media screen and (max-width: 767px) {
  .aboutme3 {
    max-width: 100%;
    width: auto;
    padding: 0 10px;
  }
}


/* styles for screens larger than 768px */
@media only screen and (min-width: 768px) {
  .aboutme {
    font-family: 'Roboto Serif', serif;
    font-style: italic;
    margin-top: 1.5rem;
    font-size: 15px;
  }
}

/* styles for screens between 480px and 767px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .aboutme {
    font-size: 13px;
    margin-top: 1rem;
  }
}

/* styles for screens smaller than 480px */
@media only screen and (max-width: 479px) {
  .aboutme {
    font-size: 12px;
    margin-top: 0.5rem;
  }
}

.aboutme2 {
    font-family: 'Roboto Serif', serif;
    font-style: italic;
    margin-top: -0.5rem;
    font-size: 25px;
}

.contact{
  display: flex;
  justify-content: center;
}

.resume {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
    /* margin-left: 0.5rem; */
    margin-right: 1.5rem;
   }
   
   .resume::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
   .resume:hover {
    color: #e8e8e8;
    cursor: pointer;
   }
   
   .resume:hover::before {
    width: 100%;
   }


   i.icon.github:hover {
    font-size: 50px;
    
  }
  i.icon.instagram:hover {
    font-size: 50px;
  }
  i.icon.linkedin:hover {
    font-size: 50px;
  }
  i.icon.envelope:hover {
    font-size: 50px;
  }

/* styles for screens larger than 768px */
@media only screen and (min-width: 768px) {
  i.icon.github:hover {
    font-size: 50px;
    
  }
  i.icon.instagram:hover {
    font-size: 50px;
  }
  i.icon.linkedin:hover {
    font-size: 50px;
  }
  i.icon.envelope:hover {
    font-size: 50px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  
    i.icon.github:hover {
      font-size: 40px;
      margin-top: 0.5rem;
    }
    i.icon.instagram:hover {
      font-size: 40px;
      margin-top: 0.5rem;
    }
    i.icon.linkedin:hover {
      font-size: 40px;
      margin-top: 0.5rem;
    }
    i.icon.envelope:hover {
      font-size: 40px;
      margin-top: 0.5rem;
    }

  }

/* styles for screens smaller than 768px */
@media only screen and (max-width: 767px) {
  i.icon.github:hover {
    font-size: 30px;
  }
  i.icon.instagram:hover {
    font-size: 30px;
  }
  i.icon.linkedin:hover {
    font-size: 30px;
  }
  i.icon.envelope:hover {
    font-size: 30px;
  }
}

.column.aboutme1{
  width: 500px;
}

