.header4{
    font-family: 'Titillium Web', serif;;
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: 1000;
    text-decoration: underline;
}

@media only screen and (min-width: 768px) {
    .header4 {
      font-size: 40px;
    }
  }
  
  /* styles for screens smaller than 768px */
  @media only screen and (max-width: 767px) {
    .header4 {
      font-size: 20px;
    }
  }