.card {
  width: 290px;
  height: 300px;
  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  border-radius: 20px;
  -webkit-transition: all .3s;
  transition: all .3s;
  margin: 2rem;
 }

 .cardDetails {
  color: white;
    height: 100%;
    gap: 0.5em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: center;
 }
 
 
 .card2 {
  width: 290px;
  height: 300px;
  background: #e3f1ff;
  border-radius:20px;
  -webkit-transition: all .2s;
  transition: all .2s;
 }
 
 .card2:hover {
  -webkit-transform: scale(0.98);
      -ms-transform: scale(0.98);
          transform: scale(0.98);
  border-radius: 20px;
 }
 
 .card:hover {
  -webkit-box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
          box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
 }

 .cardList{
  display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
 }

 .cardTitle{
  display: grid;
  place-content: center;
  color: rgb(0, 0, 0);
  font-family: 'Titillium Web', serif;;
  font-size: 18px;
  text-decoration: underline;
 }

 .organization{
  display: grid;
  place-content: center;
  color: rgb(15, 15, 15);
  font-size: 32px;
  margin-top: -0.5rem;
  font-family: 'Titillium Web', serif;
  text-decoration: underline;
 }

 .date{
  display: grid;
  place-content: center;
  color: black;
  margin-top: -0.5rem;
  font-size: 10px;
 }

 .cardBody{
  text-align: center;
  color: rgb(6, 6, 6);
  font-size: 15px;
  font-family: 'Roboto Serif', serif;
  font-weight: 500;
 }

.box{
  display: block;
  margin:  auto;
  padding: 6px 17px;
  border-radius: 50px;
  border: 0;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all .5s ease;
}
 
.box:hover {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
 }
 
.box:active {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
 }
