.ui.card {
    font-size: 1em;
    /* margin: 10px; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: stretch;
    height: 250px;
    width: 100px;
}

.ui.card>.image:not(.ui)>img, .ui.cards>.card>.image:not(.ui)>img{
    border: none;
    height: 200px;
   border-radius: 20px;
}

.ui.card>.content>.header:not(.ui), .ui.cards>.card>.content>.header:not(.ui){
    display: flex;
    justify-content: center;
    
}

.ui.cards>.card{
    display: flex;
    justify-content: center;
    margin: 0.875em 1.5em;
    float: none;
    height: 250px;
    width: 200px;
    border: 1px solid black;
    border-radius: 20px;
}